.Header {
  background: linear-gradient(90deg, $firstColor, $secondColor);
  padding: 2rem;
  @include from($xlarge) {
    background-color: transparent;
    position: absolute;
    width: 100%;
  }

  
  &__logo {
    color: $textColor;
    &--formulario {

      @include from($xlarge) {
        margin-right: 0;
      }
    }
  }
  &__menu {
    padding: 1rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.5rem;
    color: $textColor;
    @include from($medium) {
      display: none;
    }
  }
  &__bienvenida {
    text-align: center;
    margin-top: 1.5rem;

    &__title {
      font-size:4rem;
      font-weight: bold;
    }
    .Informacion__item{
      margin-top: 1.5rem;

      h4 {
        padding: 0;
        margin-bottom: .5rem;
      }

      span {
        font-size: 2rem;
      }
    }
    .Informacion__cuenta{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap:1rem;
    }
    @include from($medium) {
      justify-content: space-between;
    }
  }
}

.Header--home {
  background-color: $firstColor;
  color: $textColorLight;
  position: static;
  .Header__logo {
    color: $textColorLight;
  }
}
