.Header {
  background-color: $firstColor;
  padding: 2rem;
  @include from($xlarge) {
    background-color: transparent;
    position: absolute;
    width: 100%;
  }
  &__logo {
    color: $textColor;
  }
  &__menu {
    padding: 1rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.5rem;
    color: $textColor;
    @include from($medium) {
      display: none;
    }
  }
  &__bienvenida {
    text-align: center;
    margin-top: 1.5rem;
    .Informacion__item{
      margin-top: 1.5rem;
    }
    .Informacion__cuenta{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap:1rem;
    }
    @include from($medium) {
      justify-content: space-between;
    }

    .Informacion__title {
      padding: 1rem;
    }
  }
}

.Header--home {
  background-color: $firstColor;
  color: $textColorLight;
  position: static;
  .Header__logo {
    color: $textColorLight;
  }
}
