.Header{
    background-color: $firstColor;
    @include from($xlarge){
        background-color: transparent;
        position: absolute;
        width: 100%;
    }
    &__logo{
        color: $textColor;
    } 
}