.Nav{
    position: fixed;
    top: 0;
    right: -50vw;/* 
    display: none; */
    background-color: $textColorLight;
    width: 50vw;
    height: 100vh;
    padding: 2rem;
    transition: all 0.5s;
    color: $textColor;
    @include from($medium) {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        gap: 1.5rem;
        color: $textColorLight;
    }

    
    &__contenedor {
        @include from($medium) {
            display: flex;
        }
    }

    &__item {
        margin-left: 1rem;
    }
    &__link{
        padding: 1rem 0;
        &:hover{
            color: $textColor !important;
        }
    }

    .submenu {
        position: relative;

        &:hover .Nav__submenu{
            display: block;
        }
    }
    
    &__submenu {
        position: absolute;
        background-color: $firstColor;
        color: $textColorLight;
        padding:1rem 1.5rem;
        display: none;
        @include from($medium) {
            background-color: $textColorLight;
            color: #000;
        }
    }

    &__subitem {
        margin-bottom: 1rem;
    }

    &__sublink:hover {
        text-decoration: underline;
    }
    &.active{
        right: 0;

    }
}
body {
    position: relative;
    right: 0;
    transition: all 0.5s;
    &.active{
        right: 50vw;
    }
}