.Promociones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__title {
        width: 100%;
        text-align: center;
    }

    &__promocion {
        background: linear-gradient(90deg,$firstColor,$secondColor);
        height: 150px;
        text-align: center;
        font-size:1.5rem;
        color: $textColorLight;
        width: 100%;
        margin-bottom: 2rem;
        text-transform: uppercase;
        border-radius: 20px;
        border: 6px dotted #000;
        display: flex;
        justify-content: center;
        align-items: center;
        @include from($medium) {
            width: 49%;
            height: 250px;
            font-size:1.8rem;
        }
    }
}