.Table{
    margin-top: 4rem;
    overflow-y: scroll;

    @include from($medium){
        overflow-y: initial;
    }
    &__head{
        background-color: $firstColor;
        color: $textColorLight;
    }
    &__body tr:nth-child(even){
        background-color: rgb(221, 213, 213);
    }

    td, th {
        padding: 2rem 1rem;
    }

    input[type="search"] {
        font-size: 1.5rem;
    }
}
#Table_wrapper > .row:nth-child(1) > div:nth-child(1) {
    display: flex;
    gap: 1rem;
}
.paginate_button a{
    background-color: transparent;
    border: 1px solid #7295e2;;
}