.Tarjeta {
  border: 4px solid #33376c;
  background-color: #5962cd;
  color:$textColorLight;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 15rem;

  &__nuevo {
    border: 4px solid #33376c;
    color:#33376c;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
}
.Informacion__tarjeta {
  display: flex;
  justify-content: space-around;

}
.Informacion__accion {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
