.Tarjeta {
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.67) -1px 1px 11px -4px;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__nuevo {
    border: 4px solid $firstColor;
    color: #33376c;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 3rem 1rem;
  }
}
.Informacion__tarjeta {
  display: flex;
  justify-content: space-around;
}
.Informacion__accion {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
