.l-container,
[class^="l-container--"] {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}
.l-container--row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main--register {
  @include from($xlarge) {
    display: flex;
    justify-content: space-between;
  }
}
