.l-container,
[class*="l-container--"] {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}
.Main--register {
  @include from($xlarge) {
    display: flex;
    justify-content: space-between;
  }
}
